@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

.theory-card{
    margin: 4%;
    background-color: #B1D4E0;
    box-shadow: 2px 5px 10px 2px grey;
    padding: 3% 4%;
    border-radius: 10px;

    .theory-head-container{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #0C2D48;
        padding: 1%;
        font-size: 2rem;
        font-family: 'Lora', serif;
        font-weight: 700;
    }

    .theory-body-container{
        padding: 1%;
        font-size: 1rem;
        font-family: 'Lora', serif;
        font-weight: 500;

        ol{
            margin-top: 10px;

            li{
                margin-top: 5px;
            }
        }
    }

    .theory-image{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 20%;
        }
    }

    .theory-headings{
        color: red;
        font-weight: 700;
        padding: 0 1%;
    }

    .theory-equations{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .formulae{
        font-weight: 600;
        font-family: 'Lora', serif;
        font-size: 1.3rem;
    }

    #solved-2{
        margin-top: 20px;
        border-top: 1px solid black;
        padding-top: 30px;
    }
}

.theory-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    button{
        border-radius: 10px;
        background-color: rgb(4, 4, 49);
        cursor: pointer;
        margin-bottom: 20px;
        padding: 1% 2%;
        
        a{
            text-decoration: none;
            color: white;
            font-size: 1.1rem;
            font-family: 'GFS Didot', serif;
            font-weight: 600;
            letter-spacing: 0.2rem;
        }

        &:hover{
            background-color: rgb(9, 9, 88);
        }
    }
}

@media only screen and (max-width: 1140px){
    .theory-card{
        .theory-head-container{
            font-size: 1.7rem;
        }
    }
}

@media only screen and (max-width: 768px){
    .theory-card{
        .theory-head-container{
            font-size: 1.3rem;
            margin-bottom: 3%;
        }

        .theory-body-container{
            font-size: 0.8rem;
        }

        .formulae{
            font-size: 1.05rem;
        }
    }
}

@media only screen and (max-width: 562px){
    .theory-card{

        .theory-head-container{
            font-size: 0.9rem;
            margin-bottom: 3%;
            padding: 2% 0;
        }

        .theory-body-container{
            font-size: 0.6rem;
        }

        .formulae{
            font-size: 0.9rem;
            font-weight: 500;
        }
    }

    .theory-btn{
        button{
            padding: 1% 3%;
        }
    }
}