@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

.sim-container{
    display: grid;
    grid-template-columns: 65% auto;
    height: max-content;
}

.sim-display-container{
    text-align: center;
    position: relative;
}

#jxgbox{
    position: absolute;
    top: 12%;
    left: 14%;
    height: max-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    box-shadow: 5px 5px 15px 10px rgb(229, 228, 228);
}

.sim-calculations{
    float: right;
    width: 100%;
    display: inline;
    height: 97.5vh;
    border-left: 1px solid #0C2D48;
}

.sim-table{
    height: 30vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid #0C2D48;
}

.sim-final-calculated-ratio{
    font-size: 1.3rem;
    font-family: 'GFS Didot', serif;
    font-weight: 400;
    margin: 2% 0;
}

.coordinates{
    margin-bottom: 3%;
    margin-top: 3%;
}

.point-names{
    text-align: center;
    padding: 2%;
    font-family: 'open Sans', serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Kablammo', cursive;
    font-weight: 400;
}

.points{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 3%;
}

.point-coordinates{
    text-align: center;
}

.point-coordinates label{
    font-size: 1.2rem;
    font-family: 'Lumanosimo', cursive;
    font-weight: 400;
}

.sim-inputs{
    margin-left: 2%;
    padding: 0.5%;
    padding: 1% 3%;
    border-radius: 5px;
    font-family: 'open Sans', serif;
    width: 33%;
    font-size: 1rem;

}

.simulator-button{
    padding: 2% 4%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'open Sans', serif;
    cursor: pointer;
    background-color: #0C2D48;
    color: whitesmoke;
    border: none;
    box-shadow: 2px 5px 10px 2px grey;
    margin-top: 4%;
}

#drawButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sim-ratios{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 4%;
}

.btn-calculation{
    text-align: center;
}

.btn-calculation button{
    padding: 4% 8%;
    border-radius: 5px;
}
