@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

.homepage{
    background: url('../../images/pic7.jpg');
    background-size: 100% 100%;
    margin: 0;
    height: 100vh;
}

.home-container{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.home-typewriter-text{
    font-family: 'Caprasimo', cursive;
    font-size: 2.5rem;
    color: #3F3D56;
    word-spacing: 0.1rem;
    letter-spacing: 0.15rem;
}

.home-typewriter-text span{
    margin-left: 10px;
    font-family: 'Caprasimo', cursive;
}

.home-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.home-btn button{
    background-color: #0C2D48;
    padding: 15px 20px;
    font-family: 'GFS Didot', serif;
    font-weight: 600;
    word-spacing: 0.1rem;
    letter-spacing: 0.2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    color: whitesmoke;
    cursor: pointer;
}

.home-btn button:hover{
    background-color: #003B73;
}

@media only screen and (max-width: 768px) {
    .home-typewriter-text{
        font-size: 2rem;
    }

    .home-btn button{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 562px) {
    .home-typewriter-text{
        font-size: 1.5rem;
    }

    .home-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
    }

    .home-btn button{
        font-size: 1rem;
        padding: 10px 15px;
    }
}